# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,html}]
charset = utf-8

[*.{html}]
indent_style = tab
indent_size = 4

[*.{css,js,json,bowerrc,scss}]
indent_style = tab
indent_size = 2
